<ion-header>

    <ion-title>man</ion-title>

    </ion-header>
   102
   <ion-content padding>
      <button ion-button icon-only color="royal" (click)="openForm()">
          <ion-icon name="add-circle"></ion-icon>
          </button>


          <button ion-button (click)="goTopage()" icon-left>
            <ion-icon name="person"></ion-icon> open next page
            </button>

    <form *ngIf="isToogle" novalidate #note="ngForm"
   (ngSubmit)="save(note.value)">
    <ion-list>
    <ion-item>
    <ion-label floating>หัวขอ</ion-label>
    <ion-input [(ngModel)]="topic" type="text" name="topic"
   required></ion-input>
    </ion-item>
    <ion-item>
    <ion-label floating>วันที่ตองทํา</ion-label>
    <ion-datetime [(ngModel)]="dueDate" type="text"
   displayFormat="MM/DD/YYYY" name="dueDate" required></ion-datetime>
    </ion-item>
    <div padding>
    <button ion-button type="submit" [disabled]="!note.form.valid">เพิ่ม
   </button>
    <button ion-button type="button" [disabled]="!note.form.valid"
   (click)="update(note.value)">แกไข</button>
    </div>
    </ion-list>
    </form>
    <ion-list>
    <ion-item-sliding *ngFor="let item of items | async"
   (click)="select(item)" >
    <ion-item>
    <h3>{{item.note.topic}}</h3>
    <p>{{item.note.dueDate}}</p>
    </ion-item>
    <ion-item-options side="right">
    <button ion-button color="danger" (click)="delete(item)">

    ลบขอมูล
    </button>
    </ion-item-options>
    </ion-item-sliding>
    </ion-list>
   </ion-content>
